
# Directories to ignore
SherbertEngine/imgui.ini

# Build Result Outputs
SherbertEngine/x64
*.exe
*.log
*.tlog
*.pdb

# Visual Studio bullshittery
.vs
*.aps

# Imgui ini
SherbertEngine/imgui.ini
SherbertEngine/log.txt
