
# Directories to ignore
SherbertEngine/x64
SherbertEngine/imgui.ini

# Build Result Outputs
x64
*.exe
*.log
*.tlog

# Visual Studio bullshittery
.vs
*.aps

# Imgui ini
SherbertEngine/imgui.ini
SherbertEngine/log.txt
